
    <p>
        Hi! My name is Isabel Lin and I am a rising sophomore at Brandeis University. I am majoring in Computer Science and Economics. Nice to meet you!
    </p>
    <p>Here are some of my hobbies</p>
    <ul>
        <li>Gymnastics</li>
        <li>Piano</li>
        <li>Crocheting</li>
    </ul>
    <section>
        <div class="image-container">
            <img class="imgages" src="./images/gymnastics.JPG" alt="Isabel Lin">
            <img class="imgages" src="./images/piano.jpg" alt="Isabel Lin">
            <img class="imgages" src="./images/crochet.png" alt="Isabel Lin">
        </div>
    </section>



