<head>
    <%- include('partials/head') %>
</head>
<body>
    <header>
        <div class ="inside-header">
            <img class="images-split" src="./images/Isabel_Lin_Split.jpg" alt="Brandeis logo">
            <div>
                <h1>Isabel's Site</h1>
                <p class = "right">Hope you enjoy</p>
            </div>
        </div>
    </header>
    
    <%- include('partials/nav') %>
    <main>
        <%- body %>
    </main>
    <footer>
        <p>&copy; 2023 Isabel's Site</p>
        <div>
            <a href="https://www.instagram.com/isabellin27/" target="_blank" class="fa fa-instagram"></a>
            <a href="https://www.linkedin.com/in/isabel-lin-/" target="_blank" class="fa fa-linkedin"></a>
        </div>
    </footer>
</body>