<h2>Technicals</h2>
<p>Here are all the technicals I know:</p>
<ul>
    <li>Software:</li>
    <ul>
        <li>Python</li>
        <li>Java</li>
        <li>HTML/CSS</li>
        <li>Javascript</li>
    </ul>
    <li>3D Printing:</li>
    <ul>
        <li>Cura</li>
        <li>Meshmixer</li>
    </ul>
    <li>Other:</li>
    <ul>
        <li>Word</li>
        <li>Excel</li>
        <li>Powerpoint</li>
        <li>Bloomberg Terminal</li>
        <li>Canva</li>
    </ul>
</ul>
